@import './../styles/shadow';

.buttons {
  display: flex;
  align-items: center;

  @media (max-width: 400px) {
    display: none;
  }
}

.row {
  @include material-shadow;
  display: flex;
  background-color: #2e7d32;
  color: white;
  padding: 4px 16px;

  h1 {
    font-size: 1.2em;
  }
}

.spacer {
  flex-grow: 1;
}
