.container {
  margin-top: 64px;
  display: flex;
  padding: 10px;
  background-color: #2e7d32;
  color: white;
}

.content {
  align-items: center;
  margin: auto;
  text-align: center;
  display: flex;
  margin: auto;

  @media (max-width: 400px) {
    flex-direction: column;
  }
}
